---
const { title, step, description, timeline, image } = Astro.props;
---

<div
    class="max-w-sm overflow-hidden shadow-lg bg-yellow-100 space-y-2 rounded-lg flex flex-col"
>
    <!-- Header section -->
    <div class="py-2 bg-[#FFD700] text-center font-bold">STEP {step}</div>

    <!-- Content section -->
    <div class="flex flex-col flex-grow px-6 py-4 space-y-1">
        <div class="font-bold text-2xl mb-2">{title}</div>

        <img
            src={image}
            alt={title}
            class="w-full shadow-md object-cover h-24 lg:h-60 rounded-lg mb-4"
        />

        <p class="text-gray-700 text-base flex-grow">
            {description}
        </p>
    </div>

    <!-- Footer section -->
    <div class="px-6 pt-4 pb-2 bg-[#FFF5E1]">
        {timeline}
    </div>
</div>
